vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|03 Oct 2013 17:42:14 -0000
vti_author:SR|MICHAELLAWR9EFD\\michaellawrence
vti_modifiedby:SR|MICHAELLAWR9EFD\\michaellawrence
vti_nexttolasttimemodified:TW|03 Oct 2013 17:42:14 -0000
vti_timecreated:TR|01 Nov 2013 05:32:07 -0000
vti_cacheddtm:TX|01 Nov 2013 05:32:08 -0000
vti_filesize:IR|2177
vti_cachedlinkinfo:VX|S|data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNDVweCIgaGVpZ2h0PSIzMHB4IiB2aWV3Qm94PSIwIDAgNDUgMzAiIHpvb21BbmRQYW49ImRpc2FibGUiPjxyZWN0IHg9IjEwIiB5PSI5IiB3aWR0aD0iMjUiIGhlaWdodD0iMiIgc3R5bGU9ImZpbGw6cmdiYSgyNTUsMjU1LDI1NSwwLjUpOyIgLz48cmVjdCB4PSIxMCIgeT0iMTQiIHdpZHRoPSIyNSIgaGVpZ2h0PSIyIiBzdHlsZT0iZmlsbDpyZ2JhKDI1NSwyNTUsMjU1LDAuNSk7IiAvPjxyZWN0IHg9IjEwIiB5PSIxOSIgd2lkdGg9IjI1IiBoZWlnaHQ9IjIiIHN0eWxlPSJmaWxsOnJnYmEoMjU1LDI1NSwyNTUsMC41KTsiIC8+PC9zdmc+
vti_cachedsvcrellinks:VX|NSUS|data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNDVweCIgaGVpZ2h0PSIzMHB4IiB2aWV3Qm94PSIwIDAgNDUgMzAiIHpvb21BbmRQYW49ImRpc2FibGUiPjxyZWN0IHg9IjEwIiB5PSI5IiB3aWR0aD0iMjUiIGhlaWdodD0iMiIgc3R5bGU9ImZpbGw6cmdiYSgyNTUsMjU1LDI1NSwwLjUpOyIgLz48cmVjdCB4PSIxMCIgeT0iMTQiIHdpZHRoPSIyNSIgaGVpZ2h0PSIyIiBzdHlsZT0iZmlsbDpyZ2JhKDI1NSwyNTUsMjU1LDAuNSk7IiAvPjxyZWN0IHg9IjEwIiB5PSIxOSIgd2lkdGg9IjI1IiBoZWlnaHQ9IjIiIHN0eWxlPSJmaWxsOnJnYmEoMjU1LDI1NSwyNTUsMC41KTsiIC8+PC9zdmc+
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncwith_archivesmountain.com\:21:TW|01 Nov 2013 05:32:08 -0000
vti_syncofs_archivesmountain.com\:21:TW|03 Oct 2013 17:42:14 -0000
