vti_encoding:SR|utf8-nl
vti_author:SR|MICHAELLAWR9EFD\\michaellawrence
vti_modifiedby:SR|MICHAELLAWR9EFD\\michaellawrence
vti_timelastmodified:TR|28 Oct 2013 18:23:10 -0000
vti_timecreated:TR|28 Oct 2013 18:23:10 -0000
vti_cacheddtm:TX|28 Oct 2013 18:23:11 -0000
vti_filesize:IR|8463
vti_cachedlinkinfo:VX|S|../images/sort_asc.png S|../images/sort_desc.png S|../images/sort_both.png S|../images/sort_asc_disabled.png S|../images/sort_desc_disabled.png
vti_cachedsvcrellinks:VX|FSUS|media/images/sort_asc.png FSUS|media/images/sort_desc.png FSUS|media/images/sort_both.png FSUS|media/images/sort_asc_disabled.png FSUS|media/images/sort_desc_disabled.png
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|extras/TableTools/theme.html extras/ColVis/style.html examples/basic_init/themes.html extras/ColVis/theme.html examples/basic_init/scroll_y_theme.html extras/ColReorder/theme.html extras/FixedColumns/themed.html examples/api/tabs_and_scrolling.html extras/TableTools/tabs.html
