/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.button
	{
		padding-right: 2em;
	}

	ul.contact
	{
	}
	
		ul.contact li
		{
			padding-left: 0;
		}

	section, article
	{
		width: 100%; 
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#page-header
	{
		height: 2em;
	}

		#page-header nav
		{
		}
		
			#page-header nav ul
			{
			}
		
				#page-header nav ul li
				{
				}

					#page-header nav ul li .arrow
					{
						padding-right: 1em;
					}

/*********************************************************************************/
/* Search                                                                        */
/*********************************************************************************/

	#search
	{
	}
	
		#search form
		{
		}
		
			#search form input.text
			{
				height: 32px;
				line-height: 32px;
				padding: 0;
			}
		
			#search form input.button
			{
				overflow: hidden;
				line-height: 100px;
			}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		width: 100%;
	}