vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Sep 2013 15:43:24 -0000
vti_author:SR|MICHAELLAWR9CC4\\michaellawrence
vti_modifiedby:SR|MICHAELLAWR9EFD\\michaellawrence
vti_nexttolasttimemodified:TW|25 Nov 2012 16:23:29 -0000
vti_timecreated:TR|17 Nov 2012 03:18:25 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|styles/style2.css styles/style3.css styles/style1.css
vti_syncwith_198.83.120.96\:80/fa12/et_710_h2/mlawrence:TX|25 Nov 2012 16:23:29 -0000
vti_syncofs_198.83.120.96\:80/fa12/et_710_h2/mlawrence:TW|11 Dec 2012 01:13:06 -0000
vti_cacheddtm:TX|30 Sep 2013 15:43:24 -0000
vti_filesize:IR|635
vti_syncwith_198.83.120.96\:80/fa13/et_718_d1/mlawrence78:TX|30 Sep 2013 15:43:24 -0000
vti_syncofs_198.83.120.96\:80/fa13/et_718_d1/mlawrence78:TW|02 Oct 2013 02:59:07 -0000
